@font-face {
    font-family: 'Orbitron';
    src: url('/src/Fonts/Orbitron.ttf') format('truetype');
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

Header{
    color: white;
    background: #0D0D0D;
   /* font-family: 'Orbitron';*/


}

main{
    /* font-family: 'Orbitron';*/

    display: flex;
    justify-content: center;



}


Footer{

    background: #0D0D0D;
    /* font-family: 'Orbitron';*/
    font-weight: bold;

    display: flex;
    justify-content: center;
    text-align: center;
}

Footer .container{
    display: flex;

}

Footer .container .div .avtors{

    display: flex;
    padding-left: 18px;
    padding-top: 6px;
    font-size: 30px;
}

Footer .container .polit2{
    font-weight: lighter;
}




